<div class="row">
    <div class="col-md-12 text-center">
        <h1>Usage Demonstration</h1>
        <p class="lead">View the source code of the dummy application for syntax employed in this demo</p>
    </div>
</div>
