<div class="row">
    <div class="col-md-12 text-center">
        <h1>Usage Demonstration</h1>
        <p class="lead">View the source code of the dummy application for syntax employed in this demo</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
    Given this Behavior data that is set on the Behavior Service:
    <br><br>
    <pre>{
    event: {
        create: true,
        reschedule: true
    },
    user: {
        edit: false,
        remove: false
    }
}</pre>
        <br>
        and the use of the following in a template:
        <br><br>
        <pre>\{{#sl-able activity="create" resource="event"}}
    &lt;h3&gt;You can create this event&lt;/h3&gt;
\{{/sl-able}}

\{{#sl-unable activity="reschedule" resource="event"}}
    &lt;h3&gt;You can reschedule this event&lt;/h3&gt;
\{{/sl-unable}}

\{{#sl-able activity="edit" resource="user"}}
    &lt;h3&gt;You cannot edit this user&lt;h3&gt;
\{{/sl-able}}

\{{#sl-unable activity="remove" resource="user"}}
    &lt;h3&gt;You cannot remove this user&lt;h3&gt;
\{{/sl-unable}}</pre>
        <br>
        You will see this result:
        <div class="row">
            <div class="col-md-12">
                {{#sl-able activity="create" resource="event"}}
                    <h3>You can create this event</h3>
                {{/sl-able}}

                {{#sl-unable activity="reschedule" resource="event"}}
                    <h3>You can reschedule this event</h3>
                {{/sl-unable}}

                {{#sl-able activity="edit" resource="user"}}
                    <h3>You cannot edit this user</h3>
                {{/sl-able}}

                {{#sl-unable activity="remove" resource="user"}}
                    <h3>You cannot remove this user</h3>
                {{/sl-unable}}
            </div>
        </div>
        <br><br>
        Using the same Behavior data from the previous example and the following in the template:
        <br><br>
        <pre>\{{#sl-able activity="create" resource="event" possible=false}}
    &lt;h3&gt;Creating an event is not possible&lt;/h3&gt;
\{{/sl-able}}

\{{#sl-unable activity="reschedule" resource="event" possible=false}}
    &lt;h3&gt;Rescheduling an event is not possible&lt;/h3&gt;
\{{/sl-unable}}</pre>
        <br>
        Although both activities are set to <em>true</em> in the Behavior data, passing a value of <em>false</em> to the <em>possible</em> property causes the following to be rendered:
        <br>
        <div class="row">
            <div class="col-md-12">
                {{#sl-able activity="create" resource="event" possible=false}}
                    <h3>Creating an event is not possible.</h3>
                {{/sl-able}}

                {{#sl-unable activity="reschedule" resource="event" possible=false}}
                    <h3>Rescheduling an event is not possible.</h3>
                {{/sl-unable}}
            </div>
        </div>
        <br><br>
        This also works with computed properties in the <em>possible</em> property as in the following example:
        <br><br>
        <pre>\{{#sl-unable activity="create" resource="event" possible=model.computedReturnsFalse}}
    &lt;h3&gt;Creating an event is not possible&lt;/h3&gt;
\{{/sl-unable}}</pre>
        <br>
        Which results in:
        <div class="row">
            <div class="col-md-12">
                {{#sl-unable activity="create" resource="event" possible=model.computedReturnsFalse}}
                    <h3>Creating an event is not possible</h3>
                {{/sl-unable}}
            </div>
        </div>
    </div>
</div>


