<div class="row">
    <div class="col-md-12 text-center">
        <h1>Usage Demonstration</h1>
        <p class="lead">View the source code of the dummy application for syntax employed in this demo</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
    Given this Behavior data that is set on the Behavior Service
    <br><br>
    <pre>{
    event: {
        reschedule: false
    }
}</pre>
        <br>
        and the use of this component where behavior is set to reschedule and the provider is set to event.
        <br><br>
        <pre>\{{#sl-unable behavior="reschedule" provider="event"}}
    &lt;h3&gt;You cannot reschedule this event&lt;/h3&gt;
\{{/sl-unable}}</pre>
        <br>
        Reschedule is set to false and we are using the sl-unable component so you will see this result:
        <div class="row">
            <div class="col-md-12">
                {{#sl-unable behavior="reschedule" provider="event"}}
                    <h3>You cannot reschedule this event</h3>
                {{/sl-unable}}
            </div>
        </div>
        <br><br>
        In the next two examples, we will use this Behavior data that is set on the Behavior Service
    <br><br>
    <pre>{
    event: {
        setDate: true,
        editDate: true
    }
}</pre>
        <br>
        In the component, behavior is set to setDate and the provider is set to a model
        <br><br>
        <pre>\{{#sl-able behavior="setDate" provider=model}}
    &lt;h3&gt;You can set a date for this event.&lt;/h3&gt;
\{{/sl-able}}</pre>
        <br>
        The model has these values defined on it
    <br><br>
    <pre>{
    behaviorGroup: 'event',

    behaviors: {
        setDate: function() {
            return true;
        },
        editDate: true
    }
}</pre>
        <br>
        Since the behavior data has setDate set to true we will look in the model for setDate. In this case, it is a function used to evaluate some criteria and return a boolean response. Ours returns true so the component will render the following result:
        <br>
        <div class="row">
            <div class="col-md-12">
                {{#sl-able behavior="setDate" provider=model}}
                    <h3>You can set a date for this event.</h3>
                {{/sl-able}}
            </div>
        </div>

        <br><br>
        With the same behavior and model data above we set behavior to editDate in this component.
        <br><br>
        <pre>\{{#sl-able behavior="editDate" provider=model}}
    &lt;h3&gt;You can edit a date for this event.&lt;/h3&gt;
\{{/sl-able}}</pre>
        <br>
         In this case, editDate is true in the behavior data so we will look for it in the model. Note that editDate in the model is set to a boolean. Ours is set to true so we will see the following result:
         <br>
         <div class="row">
            <div class="col-md-12">
                {{#sl-able behavior="editDate" provider=model}}
                    <h3>You can edit a date for this event.</h3>
                {{/sl-able}}
            </div>
        </div>
    </div>
</div>


